/.vs
/*/obj/
/*/bin/
/*/tsconfig.tsbuildinfo
/KeriAuth.SignifyExtension/wwwroot/KeriAuth.SignifyExtension.lib.module.d.ts
/KeriAuth.SignifyExtension/wwwroot/KeriAuth.SignifyExtension.lib.module.js
/KeriAuth.SignifyExtension/wwwroot/KeriAuth.SignifyExtension.lib.module.js.map
/KeriAuth.SignifyExtension/wwwroot/scripts/*.js
/KeriAuth.SignifyExtension/wwwroot/scripts/*.js.map
/KeriAuth.SignifyExtension/wwwroot/scripts/*.d.ts