################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/keriauth.BrowserExtension.ExtensionFrontend/obj
/keriauth.BrowserExtension.ExtensionFrontend/bin/Debug/net8.0
/ExtensionPackaging/bin/Debug/net8.0
/ExtensionPackaging/obj
/keriauth.BrowserExtension.BlazorApp/bin/Debug/net8.0
/keriauth.BrowserExtension.BlazorApp/obj
/KeriAuth.SignifyExtension/bin
/KeriAuth.SignifyExtension/obj
/KeriAuth.SignifyExtension/obj/Debug/net8.0/tmp-webcil/KeriAuth.SignifyExtension.wasm
/KeriAuth.SignifyExtension/obj/Debug/net8.0/KeriAuth.SignifyExtension.assets.cache
/KeriAuth.SignifyExtension/obj/Debug/net8.0/KeriAuth.SignifyExtension.csproj.FileListAbsolute.txt
/KeriAuth.SignifyExtension/obj/KeriAuth.SignifyExtension.csproj.nuget.dgspec.json
/KeriAuth.SignifyExtension/obj/project.assets.json
/KeriAuth.SignifyExtension/tsconfig.tsbuildinfo
