@page "/ReleaseHistory"
@using KeriAuth.BrowserExtension.Services
@inject IJSRuntime js
@inject NavigationManager NavManager
@inject ILogger<ReleaseHistory> Logger
@using static KeriAuth.BrowserExtension.AppConfig;

<div id="Backup" class="bt-body-page">
    <div class="d-flex gap-3 bt-main">
        <div class="bt-main-inside-scroll">
            <MudText Typo="Typo.h6">Release History</MudText>

            <MudText Typo="Typo.body1">
                This release is version 0.0.1.  See its <a href="/content/release.html" target="_blank">Release Notes</a>
            </MudText>
            <MudText Typo="Typo.body1">
                Summary of release versions:
            </MudText>
            <MudText Typo="Typo.body1">(Most recent releases listed first.)</MudText>

            <MudContainer>
                <ul style="list-style-type:circle;">
                    <li>v0.0.1 - Alpha Release - TBD</li>
                </ul>
                <br />
            </MudContainer>

        </div>
    </div>
    <MudStack Row="true" class="bt-button-tray">
        <MudButton OnClick="GetStarted" Color="Color.Primary" Variant="Variant.Filled">Home</MudButton>
    </MudStack>
</div>

@code {
    private async Task GetStarted()
    {
        await Task.Delay(0); // suppress warning
        NavManager.NavigateTo(RouteToHome);
    }
}